:root {
  --primary-color: #03001c;
  --secondary-color: #b6eada;
  --thirtiry-color: #5b8fb9;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--thirtiry-color);
}
